<ion-header>
  <ion-toolbar>
    <ion-title>group-code</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="redirectTo()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3>Invite yours friends</h3> 
<ion-grid>
  <ion-row>
    <ion-col>
      Access code:
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>{{ code }}</h1>
    </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col class="copy-col">
      <ion-chip fill="outline" color="primary" (click)="share('copy')">
        <ion-icon name="copy-outline"></ion-icon>
        <ion-label>Copy</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col class="share-col">
      <ion-chip fill="outline" color="primary" (click)="share('media')">
        <ion-icon name="share-outline"></ion-icon>
        <ion-label>Share</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
