<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button (click)="redirectTo()"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<h3>{{ 'GROUPCODE.TITLE' | translate }}</h3> 
<ion-grid>
  <ion-row>
    <ion-col>
      {{ 'GROUPCODE.ACCESS' | translate }}:
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>{{ code }}</h1>
    </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col class="copy-col">
      <ion-chip fill="outline" color="primary" (click)="share('copy')">
        <ion-icon name="copy-outline"></ion-icon>
        <ion-label>{{ 'GROUPCODE.COPY' | translate }}</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col class="share-col">
      <ion-chip fill="outline" color="primary" (click)="share('media')">
        <ion-icon name="share-outline"></ion-icon>
        <ion-label>{{ 'GROUPCODE.SHARE' | translate }}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="outline" (click)="continue()">{{ 'GROUPCODE.CONTINUE' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
