<ion-content class="content">
  <ion-item>
    <ion-label position="floating">{{ 'MODALUSER.TOTAL' | translate }}</ion-label>
    <ion-input class="form-control" type="number" [value]="user.total" readonly></ion-input>
  </ion-item>

  <form class="form" [formGroup]="validations_form" 
  (ngSubmit)="Accept(validations_form.value)">

    <ion-item>
      <ion-label position="floating">{{ 'MODALUSER.AMOUNT' | translate }}</ion-label>
      <ion-input class="form-control" type="number" formControlName="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'MODALUSER.DATE' | translate }}</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" formControlName="date" ></ion-datetime>
    </ion-item>
    <ion-button expand="block" color="primary" fill="solid" type="submit"
    [disabled]="!validations_form.valid">{{ 'MODALUSER.ACCEPT' | translate }}</ion-button>
    <ion-button expand="block" color="danger" fill="solid"
    (click)="cancel()">{{ 'MODALUSER.CANCEL' | translate }}</ion-button>
  </form>
  <p>{{ message }}</p>
  
</ion-content>
