<div class="expand-wrapper" [class.collapsed]="!expanded">
  <ion-list>    
    <ion-list-header>
      <ion-label>{{ 'EXPANDABLE.PARTICIPANTS' | translate }}</ion-label>
        <ion-checkbox (click)="checkBoxAll($event)"></ion-checkbox>{{ 'EXPANDABLE.CHECKALL' | translate }}
    </ion-list-header>
    <form [formGroup]="validations_form">
      <div [formArrayName]="'users'" [class.invalid]="!validations_form.controls.selectedUser.valid">
        <ion-item *ngFor="let control of validations_form.controls.users.controls; let i = index;" 
          [formGroup]="control">
          <ion-label>{{ control.controls.name.value }}</ion-label>
          <ion-checkbox slot="end" formControlName="participant" id="{{control.controls.uid.value}}" (click)="handleCheckBoxItem(i)"></ion-checkbox>
        </ion-item>
      </div>
      <div [class.invalid]="!validations_form.controls.selectedUser.valid" *ngIf="!validations_form.controls.selectedUser.valid">
      {{ 'EXPANDABLE.PARTICIPANTSREQUIRED' | translate }}
      </div>
      <hr>
    </form>        
  </ion-list>
</div>