<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Nick</ion-label>
      <ion-input type="text" formControlName="nick"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-erros">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-erros">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Acepto las condiciones de uso y política de privacidad</ion-label>
      <ion-checkbox formControlName="acceptedProtectonLaw"></ion-checkbox>
    </ion-item>

    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid"
    expand="full" fill="outline">Register</ion-button>

    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
    <div *ngIf="successMessage">
      <ion-spinner name="lines"></ion-spinner>
    </div>
  </form>
  {{validations_form.value | json }}
  <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>

</ion-content>
