<ion-header>
  <ion-toolbar>
    <ion-title>{{ "REGISTER.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-auth">

  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">{{ "REGISTER.NAME" | translate }}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">{{ "REGISTER.NICK" | translate }}</ion-label>
      <ion-input type="text" formControlName="nick"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">{{ "REGISTER.EMAIL" | translate }}</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-erros">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">{{ "REGISTER.PASSWORD" | translate }}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-erros">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

      <app-languages (idiom)="getIdiomFromChild( $event )"></app-languages>

    <ion-item>
      <ion-label>{{ "REGISTER.PRIVACYLOW" | translate }}</ion-label>
      <ion-checkbox formControlName="acceptedProtectionLaw"></ion-checkbox>
    </ion-item>

    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" color="primary"
    expand="block" fill="solid">{{ "REGISTER.REGISTERBUTTON" | translate }}</ion-button>

    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
    <div *ngIf="successMessage">
      <ion-spinner name="lines"></ion-spinner>
    </div>
    <p class="go-to-login">{{ "REGISTER.HAVEACCOUNT" | translate }} <a (click)="goLoginPage()" color="tertiary">{{ "REGISTER.TRYLOGIN" | translate }}</a></p>
  </form>

</ion-content>
