<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>{{ 'FORMGROUP.TITLE' | translate }}</h2>
  <form class="form" [formGroup]="form_validations" (ngSubmit)="onSubmit(form_validations.value)">
    <ion-item>
      <ion-label position="floating" color="primary">{{ 'FORMGROUP.NAME' | translate }}</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">{{ 'FORMGROUP.DESCRIPTION' | translate }}</ion-label>
      <ion-input formControlName="description"></ion-input>
      <p>{{ 'FORMGROUP.OPTIONAL' | translate }}</p>
    </ion-item>
    
    <ion-button type="submint" expand="fill" full="outline" [disabled]="!form_validations.valid">{{ 'FORMGROUP.CONTINUE' | translate }}</ion-button>    
  </form>

</ion-content>
