<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>formGroup</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Choose a name for the group</h2>
  <form class="form" [formGroup]="form_validations" (ngSubmit)="onSubmit(form_validations.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Name of the group</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Group description</ion-label>
      <ion-input formControlName="description"></ion-input>
      <p>The description is optional</p>
    </ion-item>
    
    <ion-button type="submint" expand="fill" full="outline" [disabled]="!form_validations.valid">Continue</ion-button>    
  </form>

</ion-content>
