<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'GROUPLOTTERY.TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/tabs/group-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="inset">
    <ion-item (click)="create('group')">
      <ion-label>{{ 'GROUPLOTTERY.CREATE' | translate }}</ion-label>
    </ion-item>
  
    <ion-item (click)="create('join')">
      <ion-label>{{ 'GROUPLOTTERY.JOIN' | translate }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
