ion-input{
    text-align: center;
}
.euromillonClass{
    border: 1px solid #001367
}
app-expandable{
    width: 100%;
}
.item-sticky{
    position: sticky;
    z-index: 10;
    top: 3px;
} 
.label-combination-extranumber{
    z-index: 1;
}
.row-combination-extranumber{
    opacity: 0.5;
}
.input-combination-extranumber{
    font-size: x-large;
    font-weight: bold;
}