.add-group{
        /* width: 20%; */
    /* height: 20%; */
    border-radius: 1px solid blue;
    border-color: darkolivegreen;
    background: red;
    width: 30px;
    height: 30px;
    text-align: center;
    /* line-height: 2px; */
    border-radius: 50%;
    ion-icon{
        color: cyan;
    font-size: x-large;
    line-height: 30px;
    }
}