ion-avatar{
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase
}
.sticky-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 14vh;
    text-align: center;
}
.total-box{
    background: linear-gradient(to bottom, rgba(255,240,103,1) 0%, rgba(255,240,103,1) 9%, rgba(255,240,103,1) 24%, rgba(255,240,103,1) 40%, rgba(255,191,54,1) 100%);
    float: right;
    width: 18%;
}
.text-balance{
    display: none;
}
.positionated-footer-scroll{
    position: initial;
    width: 100%;
    line-height: 14vh;
    text-align: center;
}
.positionated-total-box{
    background: linear-gradient(to bottom, rgba(255,240,103,1) 0%, rgba(255,240,103,1) 9%, rgba(255,240,103,1) 24%, rgba(255,240,103,1) 40%, rgba(255,191,54,1) 100%);
    float: right;
    width: 100%;
}